.menu {
    background-color: $bg-orange;
    .title {
        text-shadow: $blue-title-frame;
    }
    &_cont {
        display: flex;
        justify-content: space-between;
        @include sp {
            flex-direction: column;
        }
        &_item {
            padding: 3vw 4vw 2vw;
            width: 24vw;
            height: 29vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include tab {
                width: 27vw;
                height: 33vw;
            }
            @include sp {
                width: 100%;
                position: relative;
                padding: 5vw 5vw 4vw 30vw;
                align-items: flex-start;
                justify-content: center;
                &:not(:first-child) {
                    margin-top: 40px;
                }
            }
            &_title {
                font-size: 3rem;
                font-weight: normal;
                @include tab {
                    font-size: 2.5rem;
                }
                @include sp {
                    font-size: 4.5vw;
                }
            }
            &_icon {
                font-size: 10vw;
                margin-top: 1vw;
                @include sp {
                    position: absolute;
                    font-size: 20vw;
                    left: 5vw;
                    top: 5vw;
                }
            }
            &_text {
                margin-top: 3vw;
                text-align: center;
                @include sp {
                    text-align: left;
                    font-size: 3vw;
                }
            }
        }
    }
}

.item1 {
    background-color: #CCFFC3;
    h2 {
        text-shadow: $orange-title-frame;
    }
}

.item2 {
    background-color: #C6FFF8;
    h2 {
        text-shadow: $orange-title-frame;
    }
}

.item3 {
    background-color: #FFC1C1;
    h2 {
        text-shadow: $blue-title-frame;
    }
}