.social {
    background-color: $bg-white;
    .title {
        text-shadow: $orange-title-frame;
    }
    &_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_text {
            text-align: center;
        }
        &_icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 5rem;
            margin-top: 60px;
        }
        &_mail {
            text-align: center;
            text-shadow: $blue-title-frame;
            margin-top: 50px;
            font-size: 3rem;
        }
    }
}

.icon:not(:first-child) {
    margin-left: 1em;
}