header {
    height: 100vh;
    letter-spacing: 0;
    font-weight: normal;
    background: $header-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 54%;
    color: #000;
    opacity: 50%;
    @include tab {
        width: 64%;
    }
    @include sp {
        width: 74%;
    }
    &_logo {
        font-size: 5.2rem;
        text-align: center;
        text-shadow: $logo-frame;
        width: 100%;
        @include tab {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 4.5rem;
        }
        @include sp {
            font-size: 3.7rem;
        }
        &:after {
            display: block;
            content: "";
            border-top: solid 1px;
            margin-top: 0.8em;
            margin-bottom: 0.8em;
            @include tab {
                width: 100%;
                margin-top: 0.5em;
            }
        }
    }
    &_text {
        text-align: center;
        @include sp {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}